<!doctype html>
<html lang="en">
<head>
    <title>Cameras</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function openCamera(cam) {
            console.log(`openCamera: ${cam}`);
            window.location.href = `/open_camera?cam=${cam}`;
            
        }
    </script>
</head>
<body>
    <div class="row">
        {% for cam in cameras %}
		<button type="button" onclick="openCamera('{{cam}}')">
            <img src="{{ url_for('static', filename='camera.png') }}" 
                 alt="{{cam}}" 
                 height="100px" 
                 width="100px" />
            {{cam}}
        </button>
        </form>
		{% endfor %}
    </div>
</body>
</html>